<div class="row">
    <div>
        <h2>Photos</h2> <button ng-click="switchView()">FullScreen Player</button>
    </div>

    <div ng-show="showFullView == false" ng-repeat=" (key,val) in photos" class="col-sm-3">
        <p>{{ val.title }}</p>
        <img src="{{val.thumbnailUrl}}" class="img-responsive" style="width:100%" alt="Image">
    </div>



</div>

<div class="row">

    <div class="col-md-1"><a class="left carousel-control" ng-click="showPrevImage()" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a></div>
    <div class="col-md-10"> <img  src="{{photos[0].thumbnailUrl}}" class="img-responsive" style="width:100%" alt="Image"></div>
    <div class="col-md-1"> <a ng-click="showNextImage()" class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a></div>
</div>

